{{input value=context.rangeText class='daterangepicker-input' placeholder=context.placeholder readonly=true}}
<div class="hidden">
  {{input value=context.start}}
  {{input value=context.end}}
</div>
